body {
  padding: 0px;
  margin: 0px;
  background-color: #000;
}

body, html {
  height: 100%;
}

/* Основные блоки */

.wrapper {
  max-width: 1335px;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0  auto;
}

.wrapper .header {
  background-color: #1a1a1a;
}

.wrapper .main {
  flex: 1;
  background-color: #f2f2f2;
}

/* Шрифты и цвета */

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("fonts/ProximaNova-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PFRegal";
  src: url("fonts/PFRegal-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  color: #fff;
  font-family: 'Proxima Nova'
}

/* Картинка */

.image {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

/* Верхний блок */

.header {
  padding-bottom: 30px;
}

.header h1, .header h2 {
  width: 60%;
  max-width: 840px;
  text-align: center;
  margin: 0px auto 0px auto;
  font-weight: 400;
  font-size: 37px;
}

.header h1 {
  font-family: 'Proxima Nova Bold'
}

.header h1 span {
  font-family: 'Proxima Nova'
}

.header h2 {
  color: #b88b59;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

/* Центральный блок */

.main {
  display: flex;
  padding: 20px 15% 20px 15%;
}

.main .gap {
  flex: 1;
}

.main .topics, .main .cards {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 11px;
  color: #1d1d1d;
}

.main .topics {
  flex: 20;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), inset 0 4px 0 #b88b58;
  padding-top: 12px;
}

.main .cards {
  background-color: #fff;
  flex: 30;
  padding: 0px 30px 12px 30px;
}

/* Список вопросов */

ol {
  font-size: 16px;
  font-family: 'Proxima Nova Bold';
}

ol li {
  cursor: pointer;
  margin-bottom: 12px;
}

ol li:hover {
  color: #6d6d6d;
}

/* Карточка */

.card {
  display: none;
}

.card h3 {
  font-size: 20px;
  color: #b88b59;
  text-align: center;
  font-family: 'Proxima Nova Bold';
}

.card h2 {
  text-align: center;
  font-size: 28px;
  font-family: 'Proxima Nova Bold';
}

.card p {
  font-family: 'PFRegal';
  font-size: 20px;
  line-height: 28px;
}

.card a {
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 1px #b88b59 solid;
}

.card .update {
  padding: 12px 15px 13px;
  border-radius: 8px;
  background-color: #fff8c4;
  border: 1px solid rgba(0,0,0,.08);
}
